<div class="article">
  <div class="article-header">
    <button class="btn btn-link favorite-toggler" data-id="{{id}}" data-favorite="{{favorite}}">
      <i class="{{#if favorite}}fa{{else}}far{{/if}} fa-heart"></i>
    </button>
    <h4 class="article-publish-date">{{publish_date}}</h4>
    <h3 class="article-title">
      <a href="{{url}}">{{title}}</a>
      <small>
        by <a href="{{author_url}}" target="_blank">{{author}}</a>
      </small>
    </h3>
  </div>
  <a href="{{url}}">
    <img src="{{image}}" class="img-fluid" alt="Image for {{title}}">
  </a>
  <div class="article-summary">
    {{summary}}
  </div>
</div>